html {
  font-style: Sans-serif;
}

#actualise {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
#actualise button{
  text-decoration: none;
  background-color: #DE8585; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#actualise button:hover{
  background-color: rgb(153, 204, 76);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DE8585;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#playerNames {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#playerNames button{
  text-decoration: none;
  width: 40%;
  background-color: #DE8585; /* Green */
  border: none;
  margin: 0;
  color: white;
  padding: 15px;
  font-size: 17pt;
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
button a {
  color: white;
  text-decoration: none;
}

#imageChoice {
  display: flex;
  justify-content: space-between;
}
#imageChoice img{
  background-color: #DE8585; /* Green */
  border: none;
  width: 45%;
  margin: 0;
  padding: 15px;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#results p {
  text-align: center;
  font-size: 30pt;
}

#threeChoice {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: #DE8585;
}
#threeChoice button{
  text-decoration: none;
  background-color: #DE8585; /* Green */
  border: none;
  margin: 0;
  color: white;
  width: 30%;
  height: 25vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#threeChoice button:hover {
  transition: all ease-in 1s;
  background-color: rgb(29, 226, 95);
  color: black;
  font-size: 350%;
}